extends layout

block content
  div.titleContainer
    h1 File Details
    p Name: #{fileName}
    p Size: #{fileSize} #{unit}
    p Uploaded on: #{uploadTime}
    div.buttonContainer
      form(action=`/files/download/${fileId}` method="GET") 
        button(type="submit") Download File
      form(action='/' method="GET") 
        button(type="submit") Return Home
